# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Project
temp/
processed_*.mp3
